{% extends "index.html" %}

{% block register %}

<div class="container">
  <h2>EXPLORE ;)</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <a href="/study_materials">
          <img src="/static/pics/study.jpg" alt="Study Materials" style="width:100%;">
        <div class="carousel-caption">
          <div class="black">
            <h1>EXAM TIME</h1>
            <h3>We know it's boring but we can't leave it as well na :)</h3>
          </div>
        </div>
        </a>
      </div>

      <div class="item">
        <a href="/content">
          <img src="/static/pics/anjan.jpg" alt="ano" style="width:100%;">
        <div class="carousel-caption">
          <div class="glow">
            <div class="w3-container w3-sofia">
              <p class="w3-xlarge">Say Anything to Us</p>
              <p>with complete anonymity</p>
            </div>
          </div>
        </div>
        </a>
      </div>
    
      <div class="item">
        <img src="/static/pics/coming_soon.jpg" alt="Coming Soon" style="width:100%;">
        <!-- <div class="carousel-caption">
          <h3></h3>
          <div class="w3-container w3-sofia">
            <p class="w3-xlarge">We love to make things easier!</p>
          </div>
        </div>
      </div> -->
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

    {% block login %}{% endblock %}
    
  <div class="w3-panel w3-round-large w3-pale-blue">
    <h2>MEMBERS OF TAFRI</h2>
  </div>
  <p><a style="opacity: 0.75; text-decoration: none; color: bisque;">Click on the images to enlarge them.</a></p>
  </div>

  <div class="row">
    <div class="col-md-4" id="gaurav">
      <div class="thumbnail">
        <a href="/static/profiles/gaurav.jpg">
          <img src="/static/profiles/gaurav.jpg" alt="gaurav" style="width:100%">
          <div class="caption">
            <h3><a style="text-decoration: none;">Hi from Gaurav!</a></h3>
            <h4>Creator of this Space</h4>
            <a href="https://www.instagram.com/gauravbk08/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> gauravbk08</a>
          </div>
        </a>
      </div>
    </div>

  <div class="col-md-4" id="sid">
    <div class="thumbnail">
      <a href="/static/profiles/sid.jpg">
        <img src="/static/profiles/sid.jpg" alt="Sid" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Siddharth Shanker</a></h3>
          <h4>Founder of TaFri</h4>
            <a href="https://www.instagram.com/sid_nits/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> sid_nits</a>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4" id="shivam">
    <div class="thumbnail">
      <a href="/static/profiles/shivam.png">
        <img src="/static/profiles/shivam.png" alt="Shivam" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: None;">Shivam</a></h3>
          <h4>Founder of TaFri</h4>
          <a href="https://www.instagram.com/shivamkrishna1025/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> shivamkrishna1025</a>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="w3-panel w3-leftbar w3-sand w3-xlarge">
  <p><i>Executive Members OF TaFri</i></p>
</div>

<div class="row">
  <div class="col-md-4" id="sexa">
    <div class="thumbnail">
      <a href="/static/profiles/sexa.png">
        <img src="/static/profiles/sexa.png" alt="Sexa" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: None;">Dibyanshu</a></h3>
          <a href="https://www.instagram.com/dibyanshu_61/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> dibyanshu_61</a>
        </div>
      </a>
    </div>
  </div>

<div class="col-md-4" id="sarthak_ee">
  <div class="thumbnail">
    <a href="/static/profiles/sarthak.jpg">
      <img src="/static/profiles/sarthak.jpg" alt="sarthak" style="width:100%">
      <div class="caption">
        <h3><a style="text-decoration: none;">Sarthak Jha</a></h3>
        <a href="https://www.instagram.com/sarge_xlr8/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> sarge_xlr8</a>
      </div>
    </a>
  </div>
</div>

<div class="col-md-4" id="srinjoy">
  <div class="thumbnail">
    <a href="/static/profiles/srinjoy.png">
      <img src="/static/profiles/srinjoy.png" alt="Srinjoy" style="width:100%">
      <div class="caption">
        <h3><a style="text-decoration: none;">Srinjoy</a></h3>
        <a href="https://www.instagram.com/srinjoy_32/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> srinjoy_32</a>
      </div>
    </a>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-4" id="deepjyoti">
    <div class="thumbnail">
      <a href="/static/profiles/deepjyoti.jpg">
        <img src="/static/profiles/deepjyoti.jpg" alt="Deepjyoti" style="width:100%">
        <div class="caption">
          <h3><a href="https://www.google.com/" style="text-decoration: None;">Deepjyoti</a></h3>
          <a href="https://www.instagram.com/deepjyotidutta24/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> deepjyotidutta24</a>
        </div>
      </a>
    </div>
  </div>

<div class="col-md-4" id="ritwiz">
  <div class="thumbnail">
    <a href="/static/profiles/ritwiz.png">
      <img src="/static/profiles/ritwiz.png" alt="Ritwiz" style="width:100%">
      <div class="caption">
        <h3><a style="text-decoration: none;">Ritwiz</a></h3>
        <a href="https://www.instagram.com/ritwijbarman04/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> ritwijbarman04</a>
      </div>
    </a>
  </div>
</div>

<div class="col-md-4" id="adarsh">
  <div class="thumbnail">
    <a href="/static/profiles/adarsh.png">
      <img src="/static/profiles/adarsh.png" alt="captain" style="width:100%">
      <div class="caption">
        <h3><a style="text-decoration: none;">Adarsh</a></h3>
        <a href="https://www.instagram.com/madmax.mishra/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> madmax.mishra</a>
      </div>
    </a>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-4" id="aman">
    <div class="thumbnail">
      <a href="/static/profiles/aman.jpg">
        <img src="/static/profiles/aman.jpg" alt="Aman" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Aman</a></h3>
          <a href="https://www.instagram.com/singh_aman_92/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> singh_aman_92</a>
        </div>
      </a>
    </div>
  </div>
  
  
  <div class="col-md-4" id="aryan">
    <div class="thumbnail">
      <a href="/static/profiles/aryan.jpg">
        <img src="/static/profiles/aryan.jpg" alt="Aryan" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Aryan</a></h3>
          <a href="https://www.instagram.com/aryan_sarthak_07/" style="font-family: 'Raleway', sans-serif; color: rgb(233, 64, 92); text-decoration: none;"><i style="font-size:24px" class="fa">&#xf16d;</i> aryan_sarthak_07</a>
        </div>
      </a>
    </div>
  </div>
  </div>
  
<!--  -->
<div class="w3-panel w3-leftbar w3-sand w3-xlarge">
  <p><i>Members of Tafri</i></p>
</div>

<div class="row">
  <div class="col-md-4" id="sohel">
    <div class="thumbnail">
      <a href="/static/profiles/sohel.jpg">
        <img src="/static/profiles/sohel.jpg" alt="sohel" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Sohel</a></h3>
        </div>
      </a>
    </div>
  </div>


  <div class="col-md-4" id="ankit">
    <div class="thumbnail">
      <a href="/static/profiles/ankit.jpg">
        <img src="/static/profiles/ankit.jpg" alt="Ankit" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Ankit</a></h3>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4" id="arihant">
    <div class="thumbnail">
      <a href="/static/profiles/arihant.jpg">
        <img src="/static/profiles/arihant.jpg" alt="Arihant" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Arihant</a></h3>
        </div>
      </a>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-4" id="ritik">
      <div class="thumbnail">
        <a href="/static/profiles/ritik.jpg">
          <img src="/static/profiles/ritik.jpg" alt="ritik" style="width:100%">
          <div class="caption">
            <h3><a style="text-decoration: none;">Ritik</a></h3>
          </div>
        </a>
      </div>
    </div>

  <div class="col-md-4" id="bitopan">
    <div class="thumbnail">
      <a href="/static/profiles/bitopan.jpg">
        <img src="/static/profiles/bitopan.jpg" alt="Bitopan" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Bitopan</a></h3>
        </div>
      </a>
    </div>
  </div>
  

  <div class="col-md-4" id="kaushik">
    <div class="thumbnail">
      <a href="/static/profiles/kaushik.jpg">
        <img src="/static/profiles/kaushik.jpg" alt="Kaushik" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Kaushik</a></h3>
        </div>
      </a>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col-md-4" id="rituparna">
    <div class="thumbnail">
      <a href="/static/profiles/rituparna.jpg">
        <img src="/static/profiles/rituparna.jpg" alt="Rituparna" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Rituparna</a></h3>
        </div>
      </a>
    </div>
  </div>
  

  <div class="col-md-4" id="sarthak_srivastav">
    <div class="thumbnail">
      <a href="/static/profiles/sarthak_srivastav.jpg">
        <img src="/static/profiles/sarthak_srivastav.jpg" alt="sarthak_srivastav" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Sarthak Srivastav</a></h3>
        </div>
      </a>
    </div>
  </div>
  

  <div class="col-md-4" id="priyangshu">
    <div class="thumbnail">
      <a href="/static/profiles/priyangshu.jpg">
        <img src="/static/profiles/priyangshu.jpg" alt="priyangshu" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Priyangshu</a></h3>
        </div>
      </a>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col-md-4" id="sashwata">
    <div class="thumbnail">
      <a href="/static/profiles/sashwat.jpg">
        <img src="/static/profiles/sashwat.jpg" alt="sashwata" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Sashwata</a></h3>
        </div>
      </a>
    </div>
  </div>
  

  <div class="col-md-4" id="saumyabrat">
    <div class="thumbnail">
      <a href="/static/profiles/nahor.jpg">
        <img src="/static/profiles/nahor.jpg" alt="saumyabrat" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Saumyabrat</a></h3>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4" id="sumit">
    <div class="thumbnail">
      <a href="/static/profiles/sumit.png">
        <img src="/static/profiles/sumit.png" alt="sumit" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Sumit</a></h3>
        </div>
      </a>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col-md-4" id="siddharth_ghosh">
    <div class="thumbnail">
      <a href="/static/profiles/siddharth_ghosh.jpg">
        <img src="/static/profiles/siddharth_ghosh.jpg" alt="siddharth_ghosh" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Siddharth Ghosh</a></h3>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4" id="debasish">
    <div class="thumbnail">
      <a href="/static/profiles/debasish.jpg">
        <img src="/static/profiles/debasish.png" alt="dada" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Debasish</a></h3>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4" id="arif">
    <div class="thumbnail">
      <a href="/static/profiles/arif.jpg">
        <img src="/static/profiles/arif.jpg" alt="Arif" style="width:100%">
        <div class="caption">
          <h3><a style="text-decoration: none;">Arif</a></h3>
        </div>
      </a>
    </div>
  </div>
  </div>
{% endblock %}
