{% extends "general_home.html" %}

{% block login %}
<h2>Welcome Tafrinites,</h2><h4>Login to get access to Exclusive Contents</h4>
<div class="black" id="log">
<form action="/login" class="w3-container w3-round-large w3-light-grey" method="post">
    <div class="w3-panel">
        <h1>LOGIN</h1>
    </div>
    <!-- <div class="w3-panel"> -->
    <div class="w3-container">
        <i class="glyphicon glyphicon-user"></i>
        <input autocomplete="off" class="w3-input w3-border w3-animate-input" style="width:40%; color: black;" id="username" name="username" placeholder="Username" type="text">
    </div>
    <!-- </div> -->
    <!-- <div class="w3-panel"> -->
    <div class="w3-container">
        <i class="glyphicon glyphicon-lock"></i>
        <input class="w3-input w3-border w3-animate-input" style="width:60%; color: black;" id="password" name="password" placeholder="Password" type="password">
    </div>
    <!-- </div> -->
    <div class="w3-panel">
    <button class="w3-button w3-round-large w3-pale-blue" type="submit">Log In</button>
    </div>
</form>
</div>
{% endblock %}
